@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
:root {
  /* light variables */
  --text-primary-color: #000000;
  --text-secondary-color: #000000ac;
  --background-image: url(/images/adrien-olichon-RCAhiGJsUUE-LIGHT.jpg);
  --background-color: #ffffff;

  /* dark variables */
  --text-primary-color-dark: #ffffff;
  --text-secondary-color-dark: #ffffffbb;
  --background-image-dark: url(/images/adrien-olichon-RCAhiGJsUUE-unsplash.jpg);
  --background-color-dark: #000000;
}

.dark-mode {
  --text-primary-color: var(--text-primary-color-dark);
  --text-secondary-color: var(--text-secondary-color-dark);
  --background-image: var(--background-image-dark);
  --background-color: var(--background-color-dark);
}

img.dark {
  display: none;
}

.dark-mode img.dark {
  display: block;
}

.dark-mode img.light {
  display: none;
}

.dark-mode-toggle {
  position: absolute;
  top: 24px;
  right: 15%;
  cursor: pointer;
  border: 2px solid  var(--text-secondary-color);
  padding: 5px 40px 5px 5px;
  border-radius: 50px; 
}

.icon{
  padding: 3px;
}

body {
  font-family: "Roboto", system-ui, sans-serif;
  line-height: 1.5;
  font-weight: 100;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--background-color);
  color: var(--text-primary-color);
  cursor: none;
}

.cursor {
	position: absolute;
	width: 25px;
	height: 25px;
	border-radius: 100%;
	background-color: deepskyblue;
	mix-blend-mode: difference;
	pointer-events: none;
	transform: translate(-50%, -50%);
	transition: width 0.8s, height 0.8s, background-color 0.8s;
	animation: glow 3s infinite alternate;
}
@keyframes glow {
	0% {
		box-shadow: 0 0 50px 80px rgba(0, 191, 255, 0.5);
	}
	100% {
		box-shadow: 0 0 80px 50px rgba(0, 191, 255, 0.738);
	}
}
a {
  font-weight: 500;
  color: var(--text-primary-color);
  text-decoration: inherit;
}


body {
  background-image: var(--background-image);
  margin: 0;
  display: flex;
  color: var(--text-primary-color);
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

.work,
.about {
  border-radius: 40px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color:var(--text-primary-color);
  cursor: pointer;
  transition: border-color 0.25s;
}
.work:hover,
.about:hover {
  background-color: rgb(232, 0, 0);
}

.work:hover,
.about:hover {
  background-color: var(--text-secondary-color);
}

.about:active {
  background-color: pink;
}

.about:focus,
.about:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

.card {
  padding: 2em;
}

#app {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: left;
  font-family: "Roboto", sans-serif;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #000000;
    background-color: #ffffff;
  }
  a:hover {
    color: #ffffff;
  }
  .work,
  .about {
    background-color: rgba(225, 225, 225, 0);
  }
}
